/*
 * Copyright (c) 2020 The ZMK Contributors
 *
 * SPDX-License-Identifier: MIT
 */

#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>

/ {
    keymap {
        compatible = "zmk,keymap";

        default_layer {
// ---------------------------------------------------------------------------------------------------------------------------------
// |  F1   |  F2 |  F3 |  F4  |  F5  | n/a  |  BKSP   | | SPACE   | n/a  |  F6   |  F7   |  F8  |   F9  |  F10 |
// |  =    |  1  |  2  |  3   |  4   |  5   |  DEL    | | ENTER   |  6   |   7   |   8   |  9   |   0   |   -  |
// |  TAB  |  Q  |  W  |  E   |  R   |  T   | L ALT   | | R ALT   |  Y   |   U   |   I   |  O   |   P   |   \  |
// |  ESC  |  A  |  S  |  D   |  F   |  G   | L SHIFT | | R SHIFT |  H   |   J   |   K   |  L   |   ;   |   '  |
// |   `   |  Z  |  X  |  C   |  V   |  B   | L CTRL  | | R CTRL  |  N   |   M   |   ,   |  .   |   /   | PGUP |
// | MAGIC | HOME| END | LEFT | RIGHT| n/a  |  LAYER  | |  WIN    | n/a  |  UP   | DOWN  |  [   |   ]   | PGDN |

// [SC] MAGIC and LAYER are currently mapped to F11 - these will be fixed later
            bindings = <
    &kp F1      &kp F2      &kp F3      &kp F4      &kp F5      &none   &kp BSPC    &kp SPACE   &none   &kp F6  &kp F7      &kp F8      &kp F9      &kp F10
    &kp EQUAL   &kp N1      &kp N2      &kp N3      &kp N4      &kp N5  &kp DEL     &kp RET     &kp N6  &kp N7  &kp N8      &kp N9      &kp N0      &kp MINUS
    &kp TAB     &kp Q       &kp W       &kp E       &kp R       &kp T   &kp LALT    &kp RALT    &kp Y   &kp U   &kp I       &kp O       &kp P       &kp BSLH
    &kp ESC     &kp A       &kp S       &kp D       &kp F       &kp G   &kp LSHFT   &kp RSHFT   &kp H   &kp J   &kp K       &kp L       &kp SEMI    &kp SQT
    &kp GRAVE   &kp Z       &kp X       &kp C       &kp V       &kp B   &kp LCTRL   &kp RCTRL   &kp N   &kp M   &kp COMMA   &kp DOT     &kp FSLH    &kp PG_UP
    &kp F11     &kp HOME    &kp END     &kp LEFT    &kp RIGHT   &none   &kp F11     &kp RGUI    &none   &kp UP  &kp DOWN    &kp LBKT    &kp RBKT    &kp PG_DN
            >;
        };
    };
};
